
.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}
.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
